<div class="panel">
    <a class="close-btn" href="" ng-click="showHideForm()">x</a>
    <form class="form-horizontal" name="recipeForm" novalidate>
        <div class="form-group" show-errors >
            <label for="recipeName">Title</label>
            <input class="form-control" type="text" name="title" unique-validator ng-model="recipe.title" ng-minlength="3" required id="recipeName"/>
            <span class="error-text" ng-if="recipeForm.title.$error.required && recipeForm.title.$dirty">Title is required</span>
            <span class="error-text" ng-if="recipeForm.title.$error.minlength && recipeForm.title.$dirty">Title must be greater than 3 characters</span>
            <span class="error-text" ng-if="recipeForm.title.$error.repeated && recipeForm.title.$dirty">Title is in use</span>
        </div>

        <div class="form-group" show-errors>
            <label for="recipeBody">Body</label>
            <textarea class="form-control" required id="recipeBody" name="body" ng-model="recipe.body"></textarea>
            <span class="error-text" ng-if="recipeForm.body.$error.repeated && recipeForm.body.$dirty">body is in use</span>
            <span class="error-text" ng-if="recipeForm.body.$error.required && recipeForm.body.$dirty">body is required</span>
        </div>

        <button type="submit" ng-click="addNew(recipeForm)" class="btn btn-primary">Save</button>
        <button type="reset" ng-click="reset()" class="btn btn-primary">Reset</button>
    </form>
</div>